@font-face {
    font-family: 'OpenDyslexic Nerd Font'; /*a name to be used later*/
    src: url('/NFOpenDyslexic.otf'); /*URL to font*/
}

html, body {
    background: rgb(30, 30, 30);
    color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "OpenDyslexic Nerd Font", monospace
}

.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

a {
    text-decoration: none;
    color: blueviolet;
}
a:hover {
    text-decoration: solid;
    color: limegreen;
}