@font-face {
    font-family: 'OpenDyslexic Nerd Font';
    src: url('https://raw.githubusercontent.com/M0rganeDev/morgane.dev/refs/heads/mommy/static/NFOpenDyslexic.otf'); 
}

html, body {
    background: #1d1f21;
    color: #b7b8b9;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
	min-height: 100vh;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p, li, td, th {
    font-family: "OpenDyslexic Nerd Font", monospace
}

table, th, td {
	border: 1px solid;
	word-wrap:break-word;
	width: 50%;
}

hr {
	width: calc(50%);
	margin-right: 0;
	margin-left: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.content {
	padding-left: 0.5rem;
}

.child {
	padding-left: 0.5rem; 
}

@media (min-width: 768px) {
	.content {
    	padding-left: 2rem; 
	}

	.child {
	    padding-left: 2rem; 
	}
}

a {
	text-decoration: underline;
    color: #33859d;
	transition: color 0.2s;
}

a:hover {
	text-decoration: underline;
    color: #00ffae;
}

h1 {
	font-size: clamp(0.8rem, 5vw, 2rem); 
}

h2 {
	font-size: clamp(0.75rem, 4.5vw, 1.75rem); 
}

h3 {
	font-size: clamp(0.5rem, 4vw, 1.3rem);
}

h4 {
	font-size: clamp(0.25rem, 3.5vw, 1.125rem);
}

h5, h6, p, td, th, li {
	font-size: clamp(0.25rem, 2.5vw, 1rem); 
}
